.container {
  padding: 5px;
  display: flex;
  /*width: 600px;*/
}

/*.inputLabel {*/
/*  font-size: 24px;*/
/*  font-weight: 700;*/
/*  margin: 10px;*/
/*}*/

.inputField {
  font-size: 18px;
  width: 800px;
  border: 4px solid black;
  box-shadow: 10px 10px black;
  margin: 0 20px;
  padding: 8px;
}
