.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 150px 100px auto;
    grid-template-columns:  repeat(8,200px);
    justify-content: center;
    align-items: center;
}

.heading {
    grid-row:1/2;
    grid-column: 3/6;
    color: white;
    font-size: 80px;
    text-align: center;

}
.enterData {
    grid-row:2/3;
    grid-column: 3/6;
    padding: 20px;
    margin-bottom: 26px;
}

.openList,
.doneList {
    width: 700px;
    height: 820px;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid black;
    overflow: auto;
}
.openList {
    background-color: yellow;
    grid-row:3/4;
}

.doneList {
    grid-row:3/4;
    grid-column: 5/8;
    background-color: limegreen;
}