/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: 50px;
        color: white;
        margin-left: 10px;
    }

    .enterData {
        padding: 0;
        margin-bottom: 16px;
    }

    .openList,
    .doneList {
        width: 300px;
        height: 420px;
        padding: 20px;
        margin: 10px 0;
        border: 2px solid black;
        overflow: auto;
    }

    .openList {
        background-color: yellow;
    }

    .doneList {
        background-color: limegreen;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: 50px;
        color: white;
        margin-left: 10px;
    }

    .enterData {
        padding: 0;
        margin-bottom: 16px;
    }

    .openList,
    .doneList {
        width: 500px;
        height: 520px;
        padding: 20px;
        margin: 10px 0;
        border: 2px solid black;
        overflow: auto;
    }

    .openList {
        background-color: yellow;
    }

    .doneList {
        background-color: limegreen;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        margin: 0 auto;
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 130px 100px auto;
        grid-template-columns:  repeat(6, 150px);
        justify-content: center;
        align-items: center;
    }

    .Head {
        grid-row: 1/2;
        grid-column: 3/5;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .heading {
        margin: 0 20px;
        color: white;
        font-size: 60px;
        text-align: center;

    }

    .enterData {
        grid-row: 2/3;
        grid-column: 2/6;
        padding: 20px;
        margin-bottom: 26px;
    }

    .openList,
    .doneList {
        width: 460px;
        height: 700px;
    }

    .openList {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .doneList {
        grid-row: 3/4;
        grid-column: 4/7;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        position:relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .shape svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .shape .shape-fill {
        fill: #000000;
    }

    .shapeBottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .shapeBottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .shapeBottom .shape-fill {
        fill: #000000;
    }

    .triAngle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .triAngle svg {
        position: relative;
        display: block;
        width: calc(228% + 1.3px);
        height: 299px;
    }

    .triAngle .shape-fill {
        fill: #000000;
    }
    .wrapper {
        grid-template-rows: 130px 100px auto;
        grid-template-columns:  repeat(6, 180px);
    }
}